
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  --primary-bg-color: green;
  --light-black: #212121;
  --med-black: #1F1F1F;
  --dark-black: #000000;
  --light-gray: #EEEEEE;
  --med-gray: #CCCCCC;
  --dark-gray: #4D4D4D;
  --light-gold: #E7DEC6;
  --dark-gold: #CBB983;
  --xdark-gold: #382D1E;
  --light-blue: #3579F6;
  --med-blue: #3475B8;
  --dark-blue: #245696;
  --light-yellow: #FCECA9;
  --dark-yellow: #F9D95E;
}

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
// mat-toolbar 


// .mat-toolbar-single-row {
//   padding-left: 10px !important;
// }

/********************************************
ANGULAR MATERIAL - TABS
********************************************/
.mat-mdc-tab-header {
  margin-bottom: 5px;
}
.mat-mdc-tab {
  max-width: 120px !important;
}
.mat-mdc-tab-header-pagination.mat-mdc-tab-header-pagination-before {
  background-color: var(--dark-gold);
}
.mat-mdc-tab-header-pagination.mat-mdc-tab-header-pagination-after {
  background-color: var(--dark-gold);
}
.mat-mdc-tab-header-pagination-disabled {
  background-color: #CCC !important;
  background-color: var(--mat-sys-surface)!important;
}
.tab-title {
  color: black;
  font-size: 1.25rem;
  padding: 0 5px;
}
.mdc-tab-indicator--active {
  background-color: var(--dark-gray) !important;
  .tab-title {
    color: white !important;
  }
}
.panel-svg {
  position: relative;
  bottom: 3px;
  right: 2px;
}
.tab-content {
  font-size: 1rem;
}
.mdc-tab .mdc-tab-indicator {
  display: none;
}
/***** END ... ANGULAR MATERIAL - TABS *****/

.mat-expanded .panel-data {
  background-color: silver;
}
// mat-expansion-panel-header mat-focus-indicator mat-expansion-toggle-indicator-after mat-expanded
// :root {
//   @include mat.autocomplete-overrides((background-color: #EEEEEE,
//     ));
//   // @include mat.icon-overrides((color: #E7DEC6,
//   //     ));
// }

.mdc-text-field {
  background-color: var(--mat-sys-surface) !important;
}
.mat-mdc-text-field-wrapper {
  width: 400px !important;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: var(--dark-gold) !important;
}
// .mdc-notched-outline {
//   border-width: 5px !important;
// }
// .mdc-notched-outline--notched {
//   border-width: 5px !important;
// }
.mdc-floating-label--float-above {
  color: var(--dark-gold) !important;
}