// :root {
//   margin: 0px !important;
// }
.toolbar-row {
  height: 64px;
  color: var(--dark-black);
  padding: 0px !important;
  // align-content: center;
}

.header-container {
  // max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark-gold);
}
.header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* The value for gap-2 in Tailwind CSS is typically 0.5rem (8px) */
}

//  class="w-full elevated py-2"

// .mat-toolbar-single-row {
//   padding: 0 !important;
// }